<template>
<q-page class="q-pa-md">
  <h1 class="text-h5">{{ agreement.title }}</h1>
  <div>
    <q-markdown :src="text">
    </q-markdown>
  </div>
</q-page>
</template>

<script>
import server from 'src/config/server'

export default {
  name: 'page-user-agreements',
  async created () {
    this.agreement = await this.$axios
      .get(`${server.serverURI}/user-agreement`)
      .then(res => res.data)
  },
  data () {
    return {
      agreement: {},
      text: '**VIPtourist application User Agreement.**\n' +
        '\n' +
        '\n' +
        'This user agreement regulates the relationship between the Administration of the https://viptourist.club ( hereinafter referred to as the Site) and the users of the site on the use of the Site, on the placement of comments on the site and the use of Site materials.\n' +
        'Carefully read this Agreement and the rules before you start using the Site.\n' +
        'You are obliged to comply with the terms of the Agreement and the rules by accessing this Site, using its content and any services (services) offered on the Site.\n' +
        'If you do not agree with the terms of the Agreement and the rules, you may not use the Site or use its content, any services offered on it, as well as visit pages hosted in the domain zone of the Site.\n' +
        '1. General provisions\n' +
        '1.1. The Website is a publicly accessible information resource for users and carries out its activities in compliance with the current legislation of the Republic of Kazakhstan\n' +
        '1.2. The relations related to the use of the Website are regulated by the legislation of the Republic of Kazakhstan and this User Agreement.\n' +
        '1.3. The User Agreement is a public offer. Starting using the Site, the user automatically joins the User Agreement and fully accepts its terms.\n' +
        '1.4. The current version of the User Agreement is available at: https://viptourist.club/#/user-agreement/ /.\n' +
        '1.5. The Site Administration may change the User Agreement at any time at its discretion.\n' +
        '1.6. If the user does not agree with the User Agreement or with its separate terms, he is obliged to stop using the Site and any of its materials.\n' +
        '2. Copyright\n' +
        '2.1. The exclusive copyrights to the site, its name, articles and other works posted on the site belong to the Site Administration.\n' +
        '2.3. Any use of articles from the Site, as well as any other materials, including reproduction and distribution by any means, public display, public disclosure, copying (full and partial), translation, alteration, is prohibited without the consent of the copyright holder (Site Administration).\n' +
        '2.4. Quoting articles is possible in compliance with the conditions specified in clause 2.5. of the User Agreement.\n' +
        '2.5. When quoting any articles from the Website on the Internet, a link to the original source is required in the form of an active link to the article that is not closed from indexing by search engines.\n' +
        'When quoting articles from the Site in printed publications, a link to the Site is required.\n' +
        '3. Dispute settlement\n' +
        '3.1. The Site Administration has a negative attitude towards copyright infringement of published materials and, for its part, makes every possible effort to prevent such violations on the Site.\n' +
        '3.2. If you are the author or copyright holder of exclusive rights, including the exclusive right to reproduction, public display, public disclosure, and believe that your rights are somehow violated by using the Site, we ask you to immediately contact the Site Administration by email.\n' +
        '3.3. According to the current legislation of the Republic of Kazakhstan, the Site Administration is ready to consider any controversial issues within the pre-trial (claim or other) settlement procedure.\n' +
        '3.4. To do this, it is necessary to send the Site Administration a scanned letter signed by the Copyright Holder or his authorized representative, in which the following data should be indicated•\n' +
        '* information about the copyright object (the name of the work or product, a document confirming the ownership or copyright of the image, etc.);\n' +
        '* information about the Copyright Holder (for a legal entity — full name of the organization, legal address, scan of the document on state registration; for an individual - full name, passport data);\n' +
        '* information about the representative of the Copyright Holder who signed the letter (full name, position, scan of the power of attorney, for the general director — a scan of the order/protocol of appointment);\n' +
        '* the address of the Site page where the materials are located, the rights to which belong to the Copyright Holder;\n' +
        '* description of the nature of the violation of rights (why the dissemination of this information is prohibited by the Copyright Holder);\n' +
        '• date, signature;\n' +
        '* contact details: phone, e-mail.\n' +
        '3.5. The Site Administration considers the application within a period not exceeding 10 (ten) calendar days. If the Site Administration recognizes the appeal as justified, then the relevant materials will be removed from the Site immediately.\n' +
        '3.6. The Site Administration pursues infringement of its copyrights, including in court.\n' +
        '3.7. If you want to use any works located on the site, you must contact the Site Administration to obtain consent. Otherwise, the use of the works will be illegal, and the Site Administration reserves the right to file a claim as part of the pre-trial settlement of the dispute or in court.\n' +
        '4. Comments on the website\n' +
        '4.1. Users on the site can leave comments. In the comments, users can express their opinions and disseminate any facts, with the exception of those prohibited by the legislation of the Republic of Kazakhstan, as well as paragraph 4.3. of the User Agreement.\n' +
        '4.2. The user is responsible for the content and form of the information contained in the comment. The User guarantees the Site Administration that all the information contained in the left comment is reliable.\n' +
        '4.3. User comments are pre-moderated and published on the site after approval by the Site Administration.\n' +
        '4.4. The Site Administration has the right to delete, edit, change comments at its discretion without explaining the reasons to the authors of the comments. The Administration deletes any comments that do not comply with the legislation of the Republic of Kazakhstan and /or paragraphs 4.5. and 4.6. of this User Agreement.\n' +
        '4.5. Comments containing:\n' +
        '* insult and slander, false information is disseminated,\n' +
        '* information about private life, personal and family secrets,\n' +
        '* profanity,\n' +
        '* extremist statements,\n' +
        '* advertising, commercial offers, links to other Internet sites;\n' +
        '* spam and trolling.\n' +
        '4.6. Comments violating the intellectual property rights of third parties are not allowed.\n' +
        '5. Other provisions\n' +
        '5.1. The User is solely responsible to third parties for his actions related to the use of information from the Site.\n' +
        '5.2. The User agrees that the articles on the site are accompanied by advertising. The Site Administration does not bear any responsibility and does not have any obligations in connection with such advertising.\n' +
        '5.3. The User is prohibited from performing actions aimed at disrupting the normal operation of the Site.\n' +
        '5.4. The User is warned that the Site Administration is not responsible for visiting and using external sites, links to which are posted on the Site.\n' +
        '5.5. The user hereby confirms that he has read the terms of the yUMani service (link to the terms of the Quick Payment service: https://yoomoney.ru/pay/page?id=526623.\n' +
        'You do not have the right to use the Site\'s features and visit pages located in the https domain name https://viptourist.club/#/privacy-policy/ if you do not agree with this agreement and the Rules, please leave our site immediately.'
    }
  }
}
</script>

<style scoped>

</style>
