<template>
<q-page class="q-pa-md">
<h1 class="text-h5">{{ policy.title }}</h1>
  <div>
    <q-markdown :src="text">
    </q-markdown>
  </div>
</q-page>
</template>

<script>
import server from 'src/config/server'
export default {
  name: 'page-privacy-policy',

  async created () {
    this.policy = await this.$axios
      .get(`${server.serverURI}/privacy-policy`)
      .then(res => res.data)
  },
  data () {
    return {
      policy: {},
      text: '**VIPtourist application Privacy Policy.**\n' +
        '\n' +
        'This Privacy Policy (hereinafter referred to as the Policy) sets out the rules for the use of personal information received from site users (hereinafter referred to as Users) by the VIPtourist application administrator (hereinafter referred to as the Company).\n' +
        'This Privacy Policy applies to all Users of the Site.\n' +
        'All terms and definitions found in the text of the Policy are interpreted in accordance with the current legislation of the Republic of Kazakhstan.\n' +
        'Users expressly consent to the processing of their personal data as described in this Policy.\n' +
        'The use of the Site means the expression by the User of unconditional consent to the Policy and the specified conditions of information processing.\n' +
        'The User should not use the Application if the User does not agree with the terms of the Policy.\n' +
        '1. Personal information of Users\n' +
        '1.1. The Website collects, accesses and uses for the purposes defined by the Policy personal data of Users, technical and other information related to Users.\n' +
        '1.2. Technical information is not personal data. The Company uses cookies that allow you to identify the User.\n' +
        'Cookies are text files available to the Company for processing information about User activity, including information about which pages the User visited and about the time the User spent on the page.\n' +
        'The user can disable the possibility of using cookies in the browser settings.\n' +
        '1.3. Technical information is also understood as information that is automatically transmitted to the Company during the use of the Site using the software installed on the User\'s device.\n' +
        '1.4. The User\'s personal data means the information that the User provides to the Company when filling out an application on the Website and subsequent use of the Website.\n' +
        'The information required to provide the Company is marked in a special way.\n' +
        'Other information is provided by the User at his discretion.\n' +
        '1.5. The Company may also process data made publicly available by the subject of personal data or subject to publication or mandatory disclosure in accordance with the law.\n' +
        '1.6. The Company does not verify the accuracy of the personal information provided by the User and is not able to assess his legal capacity.\n' +
        'However, the Company assumes that the User provides reliable and sufficient personal information about himself and keeps this information up to date.\n' +
        '2. Purposes of processing Users\' personal information\n' +
        '2.1. The main purpose of the Company when collecting personal data is to provide information and consulting services to Users.\n' +
        'Users agree that the Company may also use their personal data for:\n' +
        '* Identification of the party within the framework of the services provided;\n' +
        '* Providing services and customer support at the request of Users;\n' +
        '* Improving the quality of services, the convenience of their use, the development and development of the Site, the elimination of technical problems or security problems;\n' +
        '* Analysis for the expansion and improvement of services, content and advertising of services;\n' +
        '* Informing Users about services, targeted marketing, service updates and advertising offers based on Users\' information preferences;\n' +
        '* Targeting of advertising materials; sending individual marketing messages via e-mail;\n' +
        '* Conducting statistical and other research based on depersonalized data.\n' +
        '2.2. The Company uses technical information anonymously for the purposes specified in paragraph 2.1.\n' +
        '3. Terms and methods of processing Users\' personal information\n' +
        '3.1. The user consents to the processing of your personal data by sending a request (any written request, providing contact information). \n' +
        '3.2. Processing the User\'s personal data means the collection, recording, systematization, accumulation, storage, clarification (update, change), extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data.\n' +
        '3.3. With respect to the User\'s personal information, its confidentiality is maintained, except in cases where the User voluntarily provides information about himself for general access to an unlimited number of persons.\n' +
        '3.4. The Company has the right to transfer the User\'s personal information to third parties in the following cases:\n' +
        '* The User has consented to such actions;\n' +
        '* The transfer is necessary for the User to use a certain service of the Site or to fulfill a certain contract or agreement with the User;\n' +
        '* Transfer to the authorized state authorities of the Republic of Kazakhstan on the grounds and in accordance with the procedure established by the legislation of the Republic of Kazakhstan;\n' +
        '• In order to ensure the possibility of protecting the rights and legitimate interests of the Company or third parties in cases where the User violates the terms of contracts and agreements with the Company, this Policy, or documents containing the terms of use of specific services;\n' +
        '• As a result of processing the User\'s personal information by depersonalizing it, depersonalized statistical data is obtained, transferred to a third party for conducting research, performing work or providing services on behalf of the Company.\n' +
        '4. Measures applied to protect the User\'s personal information\n' +
        '4.1. The Company takes necessary and sufficient legal, organizational and technical measures to protect the User\'s personal information from unauthorized or accidental access, destruction, modification, blocking, copying, distribution, as well as from other illegal actions with it by third parties.\n' +
        '5. Dispute Resolution\n' +
        '5.1. All possible disputes arising from the relations regulated by this Policy are resolved in accordance with the procedure established by the current legislation of the Republic of Kazakhstan, according to the norms of Kazakh law.\n' +
        '5.2. Compliance with the pre-trial (claim) dispute settlement procedure is mandatory.\n' +
        '6. Additional conditions\n' +
        '6.1. The Company has the right to make changes to this Privacy Policy without the User\'s consent.\n' +
        'The current version of the document is available at https://viptourist.club/privacy-policy / .\n' +
        '6.2. The new Privacy Policy comes into force from the moment it is posted, unless otherwise provided by the new version of the Privacy Policy.\n'
    }
  }
}
</script>

<style scoped>

</style>
