<template>
  <q-page class="flex flex-center column text-bold">
    <p class="text-h6 text-uppercase ">Сайт в разработке</p>
    <p class="">Заходите позже</p>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
