<template>
  <div class="left-drawer-content">
    <navigation-menu/>
  </div>
</template>

<script>
import NavigationMenu from 'components/left-drawer/navigation-menu'

export default {
  name: 'left-drawer-content',
  components: { NavigationMenu }
}
</script>

<style scoped>

</style>
