<template>
  <div class="navigation-menu">
    <q-list separator>
      <q-item
        v-for="link in links"
        :key="link.label"
        :to="{ name: link.routeName }"
        clickable
      >
        <q-item-section>{{ link.label }}</q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
export default {
  name: 'navigation-menu',
  data () {
    return {
      links: [
        {
          label: 'Privacy policy',
          routeName: 'policy'
        },
        {
          label: 'User agreements',
          routeName: 'agreements'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
