<template>
  <q-layout  view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title class="text-uppercase text-bold text-h6">
          Viptourist
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <left-drawer-content />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

import LeftDrawerContent from 'components/left-drawer/left-drawer-content'
export default {
  name: 'MainLayout',
  components: { LeftDrawerContent },
  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
